#wrapper {
    width: 1050px;
    margin: 0 auto;
}
.mainLeft {
    height: auto;
    width: 500px;
    float: left;
}
.mainRight{
    height: auto;
    width: 500px;
    float: right;
}
#consolelog {
    background-color: #000000;
    color: #00FF00;
}
#system {
    height: 30px;
    width: 300px;
}
table {
    border: 1px solid black;
    padding: 5px;
    /*color: white;*/
    padding: 5px;
    margin: 10px;
}
td {
    padding: 2px;
}
